*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

.active{
    color: green;
    background-color: white;    
    /* margin: 1rem; */
    width: fit-content;
    border-radius: 2rem;
    /* padding: .35rem 1rem; */
}
